#btnGroup{
    text-align: center;
    width: 80%;
    margin-top: 20px; 
}

ion-col{
    align-items: center;
    text-align: center;
}

#pass-word{
    margin-bottom: 15px;
}

#bg{
    background-image: url('/assets/imgs/hospital.jpg');
    background-position: center;
    background-size: cover;
}