#btnGroup{
    text-align: center;
    width: 80%;
    margin-top: 20px; 
}

#col{
    align-items: center;
    text-align: left;
}

#pass-word{
    margin-bottom: 15px;
}

#bg{
    background-image: url('/assets/imgs/hospital2.jpg');
    background-position: center;
    background-size: cover;
}

#logo{
    margin-bottom: 30px;
}

.item.item-input {
    background-color: transparent;
}

.text-input{
    color: #ffffff;
}