<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-item>
		<ion-label floating>Email Address</ion-label>
		<ion-input id="input-regis" type="text" [(ngModel)]="user.email" ></ion-input>
  </ion-item>

	<ion-item>
		<ion-label floating>Password</ion-label>
		<ion-input type="password" [(ngModel)]="user.password" ></ion-input>
  </ion-item>
  
  <button ion-button color="light" (click)="register(user)">Register</button> -->

  <form [formGroup]="formgroup">
    <ion-list>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [formControl]="formgroup.controls['email']" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="email.hasError('required') && email.touched">*Email is required</p>
        <p id="err-msg" *ngIf="formgroup.controls['email'].errors && formgroup.controls['email'].dirty">*Please use suksawat hospital email(example@suksawathospital.com)</p>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [formControl]="formgroup.controls['password']" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="password.hasError('required') && password.touched">*Password is required</p>
        <p id="err-msg" *ngIf="formgroup.controls['password'].errors && formgroup.controls['password'].dirty">*Password must be at least 6 characters</p>
      </div>

    </ion-list>
    <button ion-button full color="primary" [disabled]="!formgroup.valid" (click)="register(user)"><ion-icon name="person-add"></ion-icon> Register</button>
  </form>
  
</ion-content>